<link rel="stylesheet" href="/css/info.css">
<div class="info">
    <div class="card">
        <h3>Description</h3>
        <p><%=club.description%></p>
        <i>Create At: <%=club.created_at%></i>
    </div>
    <div class="card number">
        <h3>Total Members</h3>
        <h1><%=club.total_members%></h1>
    </div>
    <div class="card number">
        <h3>Total Messages</h3>
        <h1><%=club.total_messages%></h1>
    </div>
</div>