<!DOCTYPE html>
<html lang="en">
<%-include("partials/head.ejs")%>
<link rel="stylesheet" href="/css/home.css">
<body>
      <section class="container">
        <a href="/" class="logo">
            <img src="/images/cards-club.svg" alt="Icon">
            <h1>Clubs</h1>
        </a>
      </section>
      <section class="container banner_message">
        <h1>Participate in all the <span>Stories</span> and <span>Conversations</span>.</h1>
        <p>Join a club and find out.</p>
        <div class="actions">
            <a href="/signup">Sign Up</a>
            <a href="/login">Login</a>
        </div>
      </section>  
</body>
</html>