<!DOCTYPE html>
<html lang="en">
<%-include("partials/head.ejs")%>
<link rel="stylesheet" href="/css/page.css">
<body>
    <%-include("partials/sidebar.ejs")%>
    <section class="content">
        <%-include("partials/heading.ejs")%>
        <%-include("partials/clubs.ejs")%>
    </section>
</body>
</html>