html {
  background-color: black;
  color: white;
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

.content {
  color: black;
  background-color: white;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
